.input-large-left-top {
    width: 280px;
}

.input-large-left-bottom {
    width: 280px;
}

.input-large-right-top {
    width: 280px;
}

.input-large-right-bottom {
    width: 280px;
}

.input-small-left {
    width: 132px;
}

.input-small-right {
    width: 132px;
}

.input-button {
    text-align: center;
    vertical-align: middle;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    background-color: rgba(0,0,0,.04);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 50px;
}

.request-card {
    width: 50%;
}

body {
    text-align: center;
}