<body>
      <div class="content">
        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16px grid">
          <mat-form-field appearance="fill" fxFlex="340px">
            <mat-label>Source Stop</mat-label>
            <input type="text"
                  required
                  placeholder="Source Stop"
                  aria-label="Number"
                  matInput
                  [formControl]="controlStart"
                  [matAutocomplete]="autoStart"
                  [(ngModel)]="journeyRequestData.sourceStop">
            <mat-autocomplete autoActiveFirstOption #autoStart="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsStart | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="340px">
            <mat-label>Target Stop</mat-label>
            <input type="text"
                  required
                  placeholder="Target Stop"
                  aria-label="Number"
                  matInput
                  [formControl]="controlTarget"
                  [matAutocomplete]="autoTarget"
                  [(ngModel)]="journeyRequestData.targetStop">
            <mat-autocomplete autoActiveFirstOption #autoTarget="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsTarget | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16px grid">
          <mat-form-field appearance="fill" fxFlex="170px">
            <mat-label>Date</mat-label>
            <input matInput placeholder="DD.MM.YYYY" type="text" [matDatepicker]="picker" [(ngModel)]="journeyRequestData.date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="170px">
            <mat-label>Time</mat-label>
            <input type="text"
                  required
                  placeholder="HH:mm"
                  aria-label="Number"
                  matInput
                  [(ngModel)]="journeyRequestData.sourceTime">
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="340px">
            <mat-label>Algorithm</mat-label>
            <mat-select required [(ngModel)]="journeyRequestData.algorithm" name="algorithm">
              <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                {{algorithm}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap"  fxLayoutAlign="center">
          <button mat-button appearance="fill" fxFlex="324px" class="input-button" color="primary" (click)="showJourneys()">Go</button>
        </div>
      </div>
  <mat-spinner [diameter]="75" *ngIf="spinnerActive" class="spinner"></mat-spinner>
</body>