/* Application-wide Styles */
h1 {
    color: rgb(255, 167, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: rgb(211, 162, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"]{
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

.header-spacer {
  flex: 1 1 auto;
}
.material-icons{
  font-family: 'Material Icons' !important;
}