.sections-table {
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 12px;
}

.sections-table table{
    width: 100%;
}

.mat-column-startStop {
    width: 20%;
}

.mat-column-targetStop {
    width: 20%;
}

.mat-column-departure {
    width: 15%;
}

.mat-column-arrival {
    width: 15%;
}

.mat-column-duration {
    width: 15%;
}

.mat-column-transport {
    width: 15%;
}

.content {
    padding: 12px;
}

.content > mat-card {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}